{% extends 'base.html.twig' %}
{#conference = __tostring ->(city year)#}
{% block body %}
{% block title %}Conference Guestbook - {{ conference }}{% endblock %}
    <h2>{{ conference }} Conference</h2>




    {% if comments|length > 0 %}
        <div>todos nuestros  {{ comments|length }} comentarios :].</div>
        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
            {% endif %}
               <h4>{{ comment.author }}</h4>
               <small>
                  {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>
                <p>{{ comment.text }}</p>
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Previous</a>{#path:para no cambiarlo manualmente a f #}
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Next</a>
       {% endif %}
       {% else %}
            <div>Aún no se han publicado comentarios para esta conferencia.</div>
        {% endif %}
    {% endblock %}